beautifulsoup4==4.12.2
requests==2.32.3
pytz==2025.1
discord.py==2.5.2
rapidfuzz==3.12.2
pandas
polars
pillow
word2number
meta_ai_api
lxml_html_clean
flashtext
websocket-client
python-dotenv
aiosqlite
Unidecode
numpy
aiohttp
aiofiles