beautifulsoup4
requests
pytz
discord.py
rapidfuzz
pandas
polars
pillow
word2number
meta_ai_api
lxml_html_clean
flashtext
websocket-client
python-dotenv
aiosqlite
Unidecode
numpy
aiohttp
aiofiles
jstudio